.formInputArrowDelete::-webkit-inner-spin-button, 
.formInputArrowDelete::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.Weather {
  background-color: #FFC330;
  color: #000;
  float: right;
  width: 15rem;
  border-radius: 10px;
  text-align: center;
  margin: 1rem;
  /*padding: calc(15px + 2vmin);*/
  font-size: calc(5px + 2vmin);
  margin-bottom: calc(20px + 2vmin);
}

.card {
  width: 15rem;
  float: right;
  text-align: center;
}

.card-img-top {
  max-width: 5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
}